@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}

.container{
    width: 600px;
    margin: 100px auto;
    padding: 40px;
}

.inputs{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: transparent;
    height: 150px; 
}

#submitBtn{
    margin-top: 20px;
    margin-left: 10px;
    background-color:#de4343af; 

}
.inputs input[type="text"]{
    width: 300px;
    height: 40px;
    background: rgb(243, 241, 241);
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    border: 2px solid rgba(63, 31, 31, 0.863);
    font-size: 16px;
    margin: 10px;
}

.inputs input[type="submit"]{
    height: 3rem;
    width: 6rem;
    background: rgb(243, 241, 241);
    color: rgba(63, 31, 31, 0.863);
    font-size: 1rem;
    margin-top: 20px;
    border: 2px solid rgba(63, 31, 31, 0.863);
    border-radius: 4px;
}

.display{
    text-align: center;
    width: 520px;
    color: #16a864;
}

.wrapper{
    margin: 0 9rem;
    background-color: rgb(232 171 148);
    height: 36vh;
    margin: 20px auto;
    border-radius: 2px;
}

.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background-color: #de4343af;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
}

.wrapper p{
    margin: 20px 50px;
    margin-left: 20px;
    text-align: left;
    color: #04314c;
    font-size: 23px;
}

.wrapper h2 span{
    font-size: 26px;
    color: #060807;
    font-family: "Montserrat", sans-serif;
}

.wrapper p span{
    color: #ec5620;
    font-size: 25px;
}

@media (max-width: 480px) {
    body {
        background-image: url(background1.jpg);
    }
}